<!DOCTYPE html>
<html>
		<head>
				<title>Rubyformybrain</title>
				<%= stylesheet_link_tag    "application", :media => "all" %>
				<%= javascript_include_tag "application" %>
				<%= csrf_meta_tags %>
		</head>
		<body>


				<div class='container'>
						<div class='row'>
								<div class='span9'>
										<%= yield %>
								</div>
								<div class='span3' style='margin-top:30px'>
										<%= image_tag "/assets/ruby.png" %>
										<% todays_date = Date.today %>
										<% d_date = Date.parse('10/06/2013') %>
										<% difference = d_date - todays_date %>
										<h3>Days left (<span style='color:red'><%= difference.to_i %></span>)</h3>
										<h3>Things learned (<span style='color:red'><%= @information.count %></span>)</h3>
										<p>I have <%= difference.to_i %> days before I start work as a Ruby web developer.</p>
										<p>My mission is to log as many discoveries on my path to enlightenment as possible.</p>

										<p><strong><em>This app is manage through the command line with curl</em></strong></p>
								</div>
						</div>

				</div>
						<footer class="footer" style=''>

								<div class="container">
										<p class="muted credit">Website created by: <a style='color:red' href="http://github.com/emileswarts">Emile Swarts</a></p>
								</div>

						</footer>
		</body>
</html>
